<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/estilos/header.css" />
    <link rel="stylesheet" href="../static/estilos/geral.css" />
    <title>HEADER</title>
  </head>

  <header class="headerProfessor">
    <img src="../static/imagens/education.png" alt="SAE" />
    <table class="tableHeaderProfessor">
      <tr>
        <td>
          <a
            class="nav-link"
            aria-current="page"
            href="../telaProfessor/{{idProfessor}}"
            >Home</a
          >
        </td>
        <td><a href="../enviar_arquivo/{{idProfessor}}">Enviar Arquivo</a></td>
        <td><a href="../graficosFeedback/{{idProfessor}}">Ver Feedback</a></td>
        <td>
          <a href="../criarFormulario/{{idProfessor}}">Criar Formulário</a>
        </td>
        <td><a href="../inserirTurma/{{idProfessor}}">Criar Turma</a></td>
      </tr>
    </table>
    <div class="btn_logout">
      <form method="POST" action="">
        {% csrf_token %}
        <button name="Log out" href="sair">Log out</button>
      </form>
    </div>
  </header>
  <body></body>
</html>
