body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

header img {
    width: 3em;
    padding: 0.5em;
}

table.tableHeaderProfessor td a {
    text-decoration: none;
    color: #ffffff;
    border-left: solid 1px;
    /* padding: 1.45em; */
}


table.tableHeaderProfessor td a:hover  {
    border: 2px solid #000;
    color: black;
    background-color: #acafb6;
}

button {
    cursor: pointer ;
}